# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Ignore the archive files
./archives/*
archives/*

# Ignore the git repos for the git_data
git_data/sample_git_repos/*
git_data/sample_git_repos/
git_data/git_locals.json

# ignore ipython notebook checkpoints
examples/.ipynb_checkpoints/
examples/.ipynb_checkpoints/*
.ipynb_checkpoints

# Sensitive Information
config/authentication.yaml

# OS costum attributes
.DS_Store
.vscode