-e .

beautifulsoup4
chardet
coverage
gender-detector
html2text
ipython
jinja2
jupyter
jsonschema
gitpython
matplotlib
networkx
nltk
numpy
pandas
pytest
python-dateutil
python-Levenshtein
pytz
pyzmq
snakefood
tornado
requests
pyyaml
common
powerlaw
validators
testfixtures
git+https://github.com/gitpython-developers/GitPython.git
