-e .

beautifulsoup4
chardet
coverage
enlighten
gender-detector
html2text
ietfdata
ipython
jinja2
jupyter
jsonschema
gitpython
matplotlib
networkx
nltk
numpy
pandas
pytest
python-dateutil
python-Levenshtein
pytz
pyzmq
tornado
requests
pyyaml
common
powerlaw
validator-collection
testfixtures
git+https://github.com/gitpython-developers/GitPython.git

# dev-dependencies
black
isort
pytest
coverage
pre-commit
