-e .

beautifulsoup4
chardet
coverage
html2text
ipython
jinja2
jupyter
jsonschema
gitpython
matplotlib
networkx
nltk
nose
numpy
pandas
python-dateutil
python-Levenshtein
pytz
pyzmq
snakefood
tornado
requests
pyyaml
common
powerlaw
git+https://github.com/gitpython-developers/GitPython.git
